.issue__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.loader__issue-container {
    display: flex;
    justify-content: center;

}
.issue__details {
    width: 50%;
}


.issue-title {
    border-bottom: 1px solid #eee;
}

.issue-images-container {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    width: 100%;
}
.issue-images-details {
    display: inherit;
    align-items: center;
    margin: 0.5rem;
    width: 31%;
}
.issue-images-details img{
    border: 1px solid #eee;
    margin-right: 0.5rem;
    width: 3rem;
}
.issue-images-details p{
    font-size: 20px;
    overflow: hidden;
}

.return__btn {
    cursor: pointer;
    text-decoration: none;
    font-size: 120%;
    top: 6rem;
    color: #eee;
    background-color: black;
    padding: 20px 50px;
    border: 3px solid #eee;
    position: relative;
}
.return__btn::before,
.return__btn::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
}
.return__btn::before {
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}
.return__btn::after {
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}
.return__btn:hover::before,
.return__btn:hover::after {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
}

.issue__image-container {
    width: 50%;
    margin: 1rem;
    text-align: center;
}

.issue__image-container img {
    border: 1px solid #eee;
    width: 30rem;
}

@media (max-wi1th: 1301px) {
    .issue-images-details img{
        width: 1.5rem;
    }
    .issue-images-details p{
        font-size: 15px;
    }
    .issue-images-details {
        margin: 0.2rem;
    }
    .issue__image-container img {
        border: 1px solid #eee;
        width: 20rem;
    }
}
@media (max-width: 1301px) {
    .issue-images-details img{
        width: 2rem;
    }
    .issue-images-details p{
        font-size: 18px;
    }
    .issue-images-details {
        margin: 0.4rem;
    }
}
@media (max-width: 700px) {
    .issue__container {
        flex-direction: column;
        align-items: center;
    }
    .issue__details {
        width: 100%;
    }
    .issue__image-container {
        width: 100%;
    }
    .issue__image-container img{
        width: 20rem;
    }
    .return__btn {
        top: 35rem;
    }
}